//Colors
$primary: #ef5350;
$danger:#c62828;
$action-blue:rgba(0,116,236,.929412);
$dark-grey: #363636;
$light-grey: #d8d8d8;
$secondary:#ffcb05;
$light-yellow: #c7a008;
$dark-blue:#3c5aa6;;
$siniestro:	#7A5848;
$fuego:	#F05030;
$tierra:	#E9D6A4;
